.place-baikal__subtitle {
  max-width: 360px;
  color: white;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding-top: 32px;
}


@media screen and (max-width: 630px) {
  .place-baikal__subtitle {
    max-width: 330px;
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place-baikal__subtitle {
    max-width: 288px;
    font-size: 16px;
  }
}
