.footer__links {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 48px;
  list-style: none;
}



@media  screen and (max-width: 768px) {
  .footer__links {
   padding-left: 24px;
  }
 }

@media screen and (max-width: 575px) {
  .footer__links {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 32px;
  }
}

@media  screen and (max-width: 320px) {
  .footer__links {
    padding-left: 16px;
  }
}
