.footer__copyright {
  color: white;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  padding-right: 48px;
}

@media  screen and (max-width: 768px) {
  .footer__copyright {
   padding-right: 24px;
  }
 }

@media screen and (max-width: 575px) {
  .footer__copyright {
    padding-left: 24px;
    padding-right: 0;
    padding-top: 48px;
  }
}

@media  screen and (max-width: 320px) {
  .footer__copyright {
    padding-left: 16px;
  }
}
