.page__photo-grid {
  margin: 0 auto;
  padding-top: 90px;
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 768px) {
  .page__photo-grid {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 333px) {
  .page__photo-grid {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 64px;
  }
}
